body {
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color:#000;
    min-width:320px;
    overflow-x: hidden;
    height: auto;
    margin:0;
    padding: 0;
    background: linear-gradient(to top,#5F5649, #817563) fixed;
    
}
.navbar{
    width: 100%;
    height: 6vw;
    box-shadow:0 4px 10px rgba(0 ,0, 0, .2);
    background-color:#A3947E;
}
.navbar .container{
height: inherit;
display: flex;
justify-content: space-between;
align-items: center;
}
.navbar-menu{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
.navbar li {
    display: inline-block;
    
}
.navbar-menu li a{
    display: inline-block;
    margin: 1vw;
    padding: 0.5vh;
    text-decoration: none;
    font-size: 1.5vw;
    color: black;
    font-weight: 300;
    transition: all 0.1s ease-in-out;
}
.navbar-menu li a:hover{
    color:white;
}
.navbar-wrap{
    display: flex;
    flex-flow: row nowrap;
    margin-right: 30vw;
    margin-left:10vw;
}
.navbar-brand{
    font-weight: 700;
    font-size: 2vw;
    text-decoration: none;
    color: #000;
    margin-left:8vw;
    transition: all 0.2s ease-in-out;
}
.navbar-brand:hover{
    color:white;
}
.image-container{
    width: 100%; 
    height: 35vw; 
    background-image: url('Pictures/mainpicture.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
}
.line{
    background-color:rgb(255, 255, 255);
    height:1.5vh;
}
.head{
    text-align: center;
    background-color: #C5B398;
    margin-left:25vw;
    margin-right:50vw;
    height:100%;
    padding: 5px;
    margin-top:25px;
}
h3{
    font-size: 32px;
    color:white;
    font-weight: 500;
}
h4{
    font-size: 28px;
    color:white;
    font-weight: 300;
    margin: 8px 0px;
}
.content{
    background-color:#C5B398;
    margin-left:25vw;
    margin-right:25vw;
    padding: 10px;
    margin-top:20px;
}
p{
    font-size:24px;
    color:white;
    margin:0;
}
footer{
    display: flex;
    background-color: #E7D2B2;
    height:20vh;
    margin-top: 70px;
    padding: 5px;
}